---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <p class="lede">
      I'm a doctoral candidate in Physics at the University of Illinois, and live in Champaign. 
    </p>
    <p>
       My work is focused on non-dissipative transport in topological materials and some exotic classical systems. Recently, I've been preparing to transition into the field of quantum computing, where I'm excited 
      (among other things) about applying quantum algorithms to aid in the understanding of physical systems.
    </p>
    <p>
      In my free time, I roast (pretty decent) coffee, make pizza, and quick-pickle things. 
    </p>
  </div>
  
  <p>
<img src="{{site.url}}/_img/website_picture.png" style="display: block; margin: auto;" width=75%; height=auto; />
</p>

  
  <div></div>
</div>




<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Experience</h2>

    {% include resumeitem.html
      date = "2018&mdash;Now"
      role = "Research Assistant"
      employer = "<a href='https://icmt.illinois.edu/'>Institute for Condensed Matter Theory</a>"
    description = "<p> Transport in topological materials and some exotic classical systems with <a href='https://icmt.illinois.edu/people/profile.asp?p=bbradlyn'>Barry Bradlyn</a>. Some of our <a href='https://scholar.google.com/citations?user=_7GMel4AAAAJ&hl=en'>work.</a>"
    %}
    {% include resumeitem.html
      date = "2017&mdash;2018"
      role = "Rotation Student"
      employer = "<a href='http://www.igb.illinois.edu/'>Institute for Genomic Biology</a>"
      description = "<p> Half year rotation in the lab of <a href='https://song.igb.illinois.edu/index.html '>Jun Song</a>, studying machine learning approaches to cancer genomics </p>
      <ul>
        <li>Took courses in <a href='https://courses.engr.illinois.edu/ece598pv/fa2017/home.html'>modern machine learning</a> and bioinformatics.</li>
        <li>Presented papers in neural network applications for genomics to the group journal club.</<li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2019&mdash;Now"
      role = "Teaching Assistant"
      employer = "U of I Physics Department"
      description = "
      <ul>
        <li>Led discussion section for introductory physics classes. </<li>
        <li>Peer mentor for two different undergraduate students.</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2013&mdash;2016"
      role = "Research Assistant"
      employer = "<a href='https://lsa.umich.edu/lctp'>Michigan Center for Theoretical Physics</a>"
      description = "<p> AdS/CFT with a focus on potential condensed matter applications with <a href='https://lsa.umich.edu/physics/people/faculty/jimliu.html'>James Liu</a>
      </ul>"
    %}
  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Study</h2>

    {% include resumeitem.html
      date = "2011&mdash;2013"
      role = "Graduate Diploma of Graphic Design"
      employer = "<a href='https://www.rmit.edu.au'>RMIT</a>"
      description = "Melbourne, Victoria"

    %}
    {% include resumeitem.html
      date = "2002&mdash;2004"
      role = "Bachelor of Computer Science"
      employer = "<a href='https://www.adelaide.edu.au'>University of Adelaide</a>"
      description = "Adelaide, South Australia"
    %}
  </div>
</div>
