---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <p class="lede">
      I'm a doctoral candidate in Physics at the University of Illinois, and live in Champaign. 
    </p>
    <p>
       My work is focused on non-dissipative transport in topological materials and some exotic classical systems. Recently, I've been preparing to transition into the field of quantum computing, where I'm excited 
      (among other things) about applying quantum algorithms to aid in the understanding of physical systems.
    </p>
    <p>
      In my free time, I roast (pretty decent) coffee, make pizza, and quick-pickle things. 
    </p>
  </div>
  
  <p>
<img src="{{site.url}}/_img/website_picture.png" style="display: block; margin: auto;" width=75%; height=auto; />
</p>

  
  <div></div>
</div>




<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Experience</h2>

    {% include resumeitem.html
      date = "2018&mdash;Now"
      role = "Research Assistant"
      employer = "<a href='https://icmt.illinois.edu/'>Institute for Condensed Matter Theory</a>"
    description = "<p> Transport in topological materials and some exotic classical systems with <a href='https://icmt.illinois.edu/people/profile.asp?p=bbradlyn'>Barry Bradlyn</a></p>. 
    
    <ul>
      <li>Some of our <a href='https://scholar.google.com/citations?user=_7GMel4AAAAJ&hl=en'>work.</a></li>
    </ul>"
    %}
    {% include resumeitem.html
      date = "2013&mdash;2014"
      role = "Senior Experience Designer"
      employer = "<a href='http://symplicit.com.au'>Symplicit</a>"
      description = "<p>User experience consulting and design services for clients including Telstra, Officeworks, Suncorp, Heart Foundation, Beyond Blue &amp; BP.</p>
      <ul>
        <li>UX design, research &amp; testing</li>
        <li>Visual design &amp; illustration</<li>
        <li>Web and user interface design</li>
        <li>Front-end development</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2011&mdash;Now"
      role = "Designer"
      employer = "Freelance"
      description = "
      <ul>
        <li>Identity design, graphic design, typesetting &amp; illustration</<li>
        <li>Web and user interface design</li>
        <li>Front-end development</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2012&mdash;2013"
      role = "Web App &amp; UI Team Lead"
      employer = "<a href='https://www.unico.com.au'>Unico</a>"
      description = "<p>Led team focused on design and build of small consumer web applications.</p>
      <ul>
        <li>Team resourcing, technical &amp; professional mentorship &amp; performance management</li>
        <li>Development of front-end and design practices &amp; process</li>
      </ul>"
    %}
    {% include resumeitem.html
      date = "2005&mdash;2012"
      role = "Consultant"
      employer = "<a href='https://www.unico.com.au'>Unico</a>"
      description = "<p>Sotware engineering and business consulting for clients including Telstra, Transurban, NAB &amp; Medibank.</p>
      <ul>
        <li>Software development</li>
        <li>Business process and practice consulting</li>
        <li>Interface design and development for the web</li>
      </ul>"
    %}
  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Study</h2>

    {% include resumeitem.html
      date = "2011&mdash;2013"
      role = "Graduate Diploma of Graphic Design"
      employer = "<a href='https://www.rmit.edu.au'>RMIT</a>"
      description = "Melbourne, Victoria"

    %}
    {% include resumeitem.html
      date = "2002&mdash;2004"
      role = "Bachelor of Computer Science"
      employer = "<a href='https://www.adelaide.edu.au'>University of Adelaide</a>"
      description = "Adelaide, South Australia"
    %}
  </div>
</div>
