<footer>
  <section class="container recipe">
    <div></div>
    <div class="footer__content">
      <p>
        <a href="mailto:pvrao2@illinois.edu">Email</a>
        <span class="link-divider">·</span>
        <a href="https://scholar.google.com/citations?user=_7GMel4AAAAJ&hl=en&oi=ao">Google Scholar</a>
        <span class="link-divider">·</span>
        <a href="{{site.url}}/_img/cv_rao (3).pdf">CV</a>
        <span class="link-divider">·</span>
        <small class="nowrap">&copy; 2021</small>
      </p>
    </div>
  </section>
</footer>
