<footer>
  <section class="container recipe">
    <div></div>
    <div class="footer__content">
      <p>
        <a href="mailto:pvrao2@illinois.edu">Email</a>
        <span class="link-divider">·</span>
        <a href="https://www.instagram.com/pr4o/">Instagram</a>
        <span class="link-divider">·</span>
        <a href="https://www.linkedin.com/in/">LinkedIn</a>
        <span class="link-divider">·</span>
        <small class="nowrap">&copy; 2009–2021</small>
      </p>
    </div>
  </section>
</footer>
