---
layout: default
---
   
<script type="text/javascript">
window.MathJax = {
  tex: {
    packages: ['base', 'ams','physics']
  },
  loader: {
    load: ['ui/menu', '[tex]/ams','[tex]/physics']
  }
};
</script>


img[src*='#center'] { 
    display: block;
    margin: auto;
}

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<div class="container2 -spaced -alternate2">
  {{content}}
    <section class="recipe__footer">
    <a href="/blog/">&larr; All posts</a>
  </section>
</div>


