---
layout: default
---

<div class="container recipe">
  <section class="recipe__section recipe__meta">
    <div class="recipe__title">

      <h1>
        <a class="recipe__back-link" href="/blogposts/">&larr;</a>
        {{ page.title }}</h1>
 
  </section>
  <section class="recipe__section recipe__method">
    {% unless page.description == nil %}
      <p class="lede">
        {{ page.description }}
      </p>
    {% endunless %}
    {{ content }}
  </section>

  <section class="recipe__footer">
    <a href="/blogposts/">&larr; All posts</a>
  </section>

</div>
