---
layout: default
---
    
<!-- for mathjax support -->

{% if page.usemathjax %}
<script type="text/javascript" async
 src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
{% end if %}

<link rel="stylesheet" href="/path/to/styles/default.css">
<script src="/path/to/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<div class="container2 -spaced -alternate2">
  {{content}}
    <section class="recipe__footer">
    <a href="/blog/">&larr; All posts</a>
  </section>
</div>


